/* Style overrides here */

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.control {
    margin: 2rem 0 1rem 0;
    width: 100%;
}

label {
    font-weight: bold;
}

nav {
    background: silver;
    padding: .5rem;
}

section div.landing {
    display: grid;
    justify-content: center;
    grid-auto-columns: 1fr;
    align-self: center; 
}

section div.landing h1 {
    font-size: 6rem;
    text-align: center;
}

section div.landing form {
    padding: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1rem;
}
